<!-- start game -->
<div class="c-game l-game">
  <div class="o-media"><a href="#"><img src="images/cs.jpg" alt=""></a></div>
  <div class="c-game__title">Counter-Strike: Global Offensive</div>
  <div class="c-viewers">138,621 viewers</div>
</div>
<!-- end game -->