@include border-box-sizing;

.wrap {
  @include container;
}

// Width of Masonry gutter
.gutter {
  width: gutter();
}

// Masonry Column sizes. 
// Notice how span is used.
.column {
  width: 100%;

  @include bp($bp-med) {
    width: span(6);
  }

  @include bp($bp-large) {
    width: span(4);
  }

  @include bp($bp-xlarge) {
    width: span(3);
  }
}

// Actual item sizes 
// Span is the same as that for masonry column sizes (if your items are supopsed to be that way)
.responsive {
  margin: 0; // Removes margin for figure element
  margin-top: gutter(); // Spaces between elements
  width: 100%;

  @include bp($bp-med) {
    width: span(6);
  }

  @include bp($bp-med) {
    width: span(6);
  }

  @include bp($bp-large) {
    width: span(4);
  }

  @include bp($bp-xlarge) {
    width: span(3);
  }
}